= form_for @group do |f|
  .chat-group-form__errors
  - if @group.errors.any?
    .chat-group-form__errors
      %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field.clearfix

    = f.label :name, "グループ名", class: "chat-group-form__label chat-group-form__field--left"
    = f.text_field :name, id: "chat_group_name", class: "chat-group-form__input chat-group-form__field--right"
  .chat-group-form__field.clearfix

  .chat-group-form__field.clearfix
    = label_tag "", "チャットメンバーを追加", class: "chat-group-form__label chat-group-form__field--left"
    = text_field_tag "user-search-field", "", class: "chat-group-form__input chat-group-form__field--right", placeholder: "追加したいユーザー名を入力してください"

  .chat-group-form__field.clearfix
    %ul#user-search-result

  .chat-group-form__field.clearfix
    .chat-group-form__search.clearfix
      #user-search-result チャットメンバー
      - @group.users.each do |user|
        = user.name
        = hidden_field_tag '', user.id, name: 'group[user_ids][]'
      %ul#user-list

  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'
